@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
html, body
{
    font-family: 'Roboto Condensed', sans-serif;
    padding: 10px;
    margin: 0;
}
hr
{
    border: 1px solid rgb(0, 0, 0);
    display: block;
}
#top
{
    height: 100px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
#top input
{
    background: none;
    border: none;
    display: block;
    width: min-content;
    max-height: 50px;
    width: 200px;
}
#top input:focus
{
    border: none;
    outline: none;
}
#top #title
{
    font-size: 50px;
    color: rgb(255, 153, 0);
}
#top #description
{
    font-size: 20px;
}
#maininfo span
{
    float: right;
    display: none;
    font-size: 20px;
}
.userlogo
{
    height: 50px;
    border-radius: 100%;
    border: 4px solid rgb(255, 153, 0);
}
#top #usermenu
{
    display: flex;
    justify-content: flex-end;
}
.user
{
    margin: 0 10px;
}
#top .menubuttons button
{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: none;
    margin: 0 5px;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
}
#top .menubuttons button:hover
{
    color: rgb(255, 153, 0);
    border-color: rgb(255, 153, 0);
    transition: .3s;
}