@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
html, body
{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}
hr
{
    border: 1px solid rgb(0, 0, 0);
    display: block;
    margin: 0 20px;
}
input:focus
{
    outline: none;
}

/*Top section*/

#top
{
    height: 70px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
#top input
{
    background: none;
    border: none;
    display: block;
    width: min-content;
    max-height: 50px;
    width: 200px;
}
#top input:focus
{
    border: none;
    outline: none;
}
#top #title
{
    font-size: 50px;
    color: rgb(255, 153, 0);
}
#top #description
{
    font-size: 20px;
}
#maininfo .edit
{
    float: left;
    display: block;
    margin-right: 5px;
}
#maininfo span
{
    float: right;
    display: block;
    font-size: 20px;
    visibility: hidden;
}
.userlogo
{
    height: 50px;
    border-radius: 100%;
    border: 4px solid rgb(255, 153, 0);
}
#top #usermenu
{
    display: flex;
    justify-content: flex-end;
}
.user
{
    margin: 0 10px;
}
#top .menubuttons button
{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: none;
    margin: 0 5px;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
}
#top .menubuttons button:hover
{
    color: rgb(255, 153, 0);
    border-color: rgb(255, 153, 0);
    transition: .3s;
}

/*main containter*/

#main .buttonscontainter
{
    display: flex;
    justify-content: center;
    width: 100%;
}
#main .buttonscontainter .mainbuttons
{
    width: 40px;
    height: 40px;
    margin: 10px 5px 0 5px;
    border-radius: 100%;
    border: solid 2px rgb(0, 0, 0);
    cursor: pointer;
    background: none;
}
#main .buttonscontainter .mainbuttons:hover
{
    color: rgb(255, 153, 0);
    border-color: rgb(255, 153, 0);
    transition: .3s;
}

#main #lists
{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}
#main .statebox
{
    width: 200px;
    padding: 5px;
    border: 4px solid rgb(255, 153, 0);
    border-radius: 10px;
    margin: 10px;
}
#main .statebox .stateboxbuttonsbox
{
    display: flex;
    justify-content: flex-end;
    column-gap: 3px;
}
#main .statebox .stateboxbutton
{
    width: 30px;
    height: 30px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 100%;
    background: none;
    text-align: center;
    cursor: pointer;
}
#main .statebox .stateboxbutton span
{
    font-size: 15px;
    font-weight: bold;
}
#main .statebox .stateboxbutton:hover
{
    color: rgb(255, 153, 0);
    border-color: rgb(255, 153, 0);
    transition: .3s;
}
#main .statebox .statename
{
    text-align: center;
    font-weight: bold;
}
#main .statebox .task
{
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    cursor: move;
    background: rgb(255, 255, 255);
    transition: .3s;
}
#main .statebox .task.dragging
{
    transform: rotate(2deg);
}

/*popup menus*/

#popupcontainer #close
{
    width: 40px;
    height: 40px;
    justify-self: end;
    border-radius: 100%;
    position: absolute;
    align-self: baseline;
}
#popupcontainer
{
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
}
#adduser p
{
    width: 400px;
    line-height: 0;
    text-align: center;
    font-size: 20px;
    color: rgb(255, 153, 0);
}
#adduser
{
    width: 400px;
    height: 200px;
    background: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    border: 4px solid rgb(255, 153, 0);
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    display: none;
}
#adduser button
{
    width: 150px;
    height: 40px;
    margin: 10px;
    cursor: pointer;
    border: 2px solid rgb(0, 0, 0);
    background: none;
    justify-self: center;
}
#adduser button:hover
{
    color: rgb(255, 153, 0);
    border-color: rgb(255, 153, 0);
    transition: .3s;
}
#adduser input
{
    width: 250px;
    height: 40px;
    border: 2px solid rgb(0, 0, 0);
    background: none;
    justify-self: center;
    font-size: 15px;
    padding: 0 8px;
}

